body {
    background-color: #fff8f0; /* Fondo suave */
}

.card {
    border-radius: 15px; /* Bordes redondeados */
}

.card-title {
    color: #d63384; /* Color rosa bonito para títulos */
}

h1, h2, h4, h5 {
    font-family: 'Segoe UI', sans-serif;
}

.btn-pink {
    background-color: #d948ec;
    border-color: #ff77b0;
    color: white;
}

.btn-pink:hover {
    background-color: #ff4d94;
    border-color: #ff4d94;
}

.btn-rosa {
    background-color: #e64a92;
    border-color: #ff99c8;
    color: white;
}

.btn-rosa:hover {
    background-color: #ff66a1;
    border-color: #ff66a1;
}
